[Unit]
Description=Forest Vendetta - server backend (temporary)
RequiresMountsFor=/var/stuff/forestvendetta/ForestVendetta
After=network.target

[Service]
User=forestvendetta
WorkingDirectory=/var/stuff/forestvendetta/ForestVendetta/WebsiteBackend
ExecStart=/usr/bin/npm start
Restart=on-failure
TimeoutStopSec=10
RestartSec=5

[Install]
WantedBy=multi-user.target