.itemFrameDiv {
    display: flex;
    justify-content: center;
    border-color: black;
    border-radius: 5px;
    border-style: outset;
    border-width: 1px;
    box-shadow: 2px 2px black;
    margin: 5px;
    padding: 5px;
    pointer-events: all;

    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: white;

}

.itemFrameImg {
    display: block;
    pointer-events: none;
    margin: auto;
    position: relative;

}

.gridWrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: [c1] max-content [c2] auto;
    grid-template-rows: [r1] auto [r2] max-content [r3] auto;
}

.inventoryFlexDiv {
    grid-column: c2;
    grid-row: r1;
    /*grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    padding: 5px;
    border: thin solid black;
    overflow-x: hidden;
    overflow-y: auto;
}

.hotbarDiv {
    grid-column: c2;
    grid-row: r2;
    display: flex;
    margin: 5px;
    padding: 5px;
    position: relative;
    border: thin solid black;
    flex-direction: row;

    justify-content: flex-start;
    /* Align center left */
    gap: 5px;
    /* Add spacing between divs */
    margin: 5px;
    padding: 5px;
    position: relative;
    align-items: center;

}

.notOkForDrag {
    box-shadow: inset 0 0 5px red;
}

.okForDrag {
    box-shadow: inset 0 0 5px green;
}

.armorDiv {
    grid-column: c1;
    grid-row: r1 / r3;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    position: relative;
    border: thin solid black;
}

.itemSlot {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-color: green;
    border-style: dotted;
    width: 35px;
    height: 35px;
    padding: 5px 5px 5px 5px;
    position: relative;
}

.emoteDiv {
    flex: 1;
    text-align: right;
    /* Align content to the right */
    padding: 20px;
}

.overlayDialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.overlayDialogContent {
    padding: 5%;kuizg
  }

  .toggle-container {
    display: inline-block;
    margin-right: 10px;
  }

  .toggle-image {
    cursor: pointer;
    border: 2px solid gray;
    display: inline-block;
    padding: 5px;
    transition: border-color 0.3s ease-in-out;
  }

  .toggle-radio {
    display: none;
  }

  .toggle-radio:checked + .toggle-image {
    border-color: blue;
  }

  .selectServerDiv, .selectedEmoteElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
  }
  
  .selectServerDiv:hover,
  .selectedEmotesDivActive .selectedEmoteElement:hover {
    transform: translateY(-3px);
  }
  
  .selectServerOptionLabel {
    user-select: none;
    margin: 0;
    padding: 8px;
    font-size: 16px;
  }
  
  .selectServerOptionImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .selectServerDiv.active {
    transform: translateY(0);
  }
  

  #chooseEmoteImportOverlayOptions {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 10px;
  width: 300px; /* Adjust as needed */
  margin: 0 auto;
  }

  #emoteDiv {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .selectedEmotesDiv {
    display: flex;
    flex-direction: row;
    column-gap: 1px;
    background-color: none;
  }

  .selectedEmotesDivActive {
    background-color: rgba(255, 0, 0, 0.2);
  }
  .selectedEmoteElement {
    width: 32px;
    height: 32px;
    justify-content: center;
    display: flex;
  }