.hoverInfo {
    user-select: none;
    border-radius: 4px;
    background-color: rgb(191,165,138, 0.8);
    width: 300px;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.hoverInfoName {
    margin-bottom: 3px;
    margin-top: 0px;
}

.hoverInfoDsc {
    line-height: 80%;
    font-size: smaller;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.hoverInfoStats {
    margin-top: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hoverInfoRarity {
    bottom: 5px;
    position: absolute;
    text-decoration: underlinde overline darkslategray;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: darkslategrey;
}

@-webkit-keyframes epicColorchange {
    20% {
      
        color: rgb(162, 89, 231)
      }
    40% {
      
      color: blueviolet
    }
    
    60% {
      
      color: rebeccapurple
    }
    
    80% {
      
      color: rgb(86, 25, 129)
    }
    
    100% {
      
      color: indigo
    }
  }

  @-webkit-keyframes legendaryColorchange {
    0% {
      
      color: yellow;
    }
    
    20% {
      
      color: rgb(255, 200, 0)
    }
    
    40% {
      
        color: rgb(255, 162, 0)
    }
    
    60% {
      
        color: rgb(255, 123, 0)
    }

    80% {
        color: rgb(255, 85, 0) 
    }

    100% {
        color: rgb(255, 0, 0)
    }
  }

  @-webkit-keyframes mythicColorchange {
    0% {
      
      color: rgb(126, 36, 52);
    }
    
    20% {
      
      color: rgb(161, 40, 63);
    }
    
    40% {
      
        color: rgb(135, 31, 58);
    }
    
    60% {
      
        color: rgb(107, 43, 55);
    }

    80% {
        color: rgb(158, 33, 70);
    }

    100% {
        color: rgb(165, 25, 46);
    }
  }

  /*Game Button*/
  .gameButton {
    background-color: lightgray;
    border-radius: 8px;
  }

  .gameButton:active {
    background-color: darkgray;
  }

  .gameButton:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .nameDisplay {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    height: 20px;
  }

  .nameDisplayCenter {
    user-select: none;
    width: fit-content;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }